* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background: #2e2e2e;
	color: #e1e1e1;
	font-family: 'EB Garamond', serif;
	font-size: 1.8rem;
}

button {
	cursor: pointer;
}

.row {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	align-items: center;
}
.row::after {
	display: block;
	clear: both;
	content: '';
}

.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1.6rem;
}

/********** Header **********/

.header {
	align-items: center;
	background-image: url('/Images/gameHeader.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	height: 800px;
	width: 100%;
}

.headerBox {
	color: rgb(209, 209, 209);
	justify-content: center;
	margin: 0px;
}

.headerContent {
	background: rgba(0, 0, 0, 0.274);
	border-radius: 10px;
	text-align: center;
	padding: 50px;
}
